<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/employee/assigndepartment">Assign Department</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Department</li>
    </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#each rows}}
<form class="row g-3 needs-validation border rounded mt-2 py-2  px-2" method="POST"
    action="/employee/editdepartment/{{this.dept_id}}" novalidate>
    <div class="mb-3">
        <label for="Name" class="form-label">Department Name </label>
        <input type="text" class="form-control" name="dept_name" value={{this.dept_name}}>
    </div>
{{!-- 

    <div class="col-6">
        <label for="role" class="form-label">Dept id</label>
        <input type="number" class="form-control" name="dept_id" value={{this.dept_id}}>
    </div> --}}


    <div class="mb-4">
        <label for="bonus" class="form-label">Manager id</label>
        <input type="number" class="form-control" name="mgr_id" value={{this.mgr_id}}>
    </div>



    <button type="submit" class="btn btn-success">Submit</button>
</form>

{{/each}}


