<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Works on</li>
    </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#each rows}}
<form class="row g-3 needs-validation border rounded mt-2 py-2  px-2" method="POST" action="/employee/editworkproject/{{this.id}}"
    novalidate>
    <div class="mb-3">
        <label for="id" class="form-label">user id</label>
        <input type="number" class="form-control" name="id" value={{this.id}}>
    </div>


    <div class="col-6">
        <label for="pid" class="form-label">project id</label>
        <input type="number" class="form-control" name="pid" value={{this.pid}}>
    </div>

    <div class="col-6">
        <label for="hours" class="form-label">hours</label>
        <input type="number" class="form-control" name="hours" value={{this.hours}}>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
{{/each}}